*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body { font-family: 'Roboto', sans-serif; background: #F1F5F9; }
#root { height: 100vh; width: 100%; max-width: 100%; border: none; text-align: left; display: block; }
